@model DbWebsite.products

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>products</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.type_products.name_typepr)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.type_products.name_typepr)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.name_pr)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.name_pr)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.description_pr)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.description_pr)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.unit_price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.unit_price)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.promotion_price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.promotion_price)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.images)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.images)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.unit)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.unit)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.new_pr)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.new_pr)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.created_at)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.created_at)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.updated_at)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.updated_at)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
